/* inspire */
.imageStyle {
  width: 250px;
  max-height: auto;
  margin: 4px;
  border-radius: 20px;
}

/* createIntro */
.createContainer {
  border-radius: 20px;
  color: lightGrey
}

.cameraVideo {
  width: auto;
  max-height: 200;
  margin-right: 50%;
  margin-left: auto;
}

.lightText {
  color: lightGrey
}

/* create */
.searchFormCard {
  width: 60%;
  max-width: 50%;
  min-width: 200px;
  border-radius: 20%;
  margin: auto;
  padding: 20px
}
.searchResultsCard {
  width: 100%;
  max-width: 100%;
  min-width: 200px;
  border-radius: 20%;
  margin: auto;
  padding: 0px
}

.number {
  height: 20%;
}

.titleCard {
  background-color: lightGrey;
  color: lightGrey

}

/* buttons */
.btnPair {
  width: 49%;
}

/* search results */
.chipGroup {
  display: inline-flex;
  margin: 0;
  align-content: left;
}

.recipeChip {
  margin: 1px;
  padding: 9px;
}

.wordWrap {
  word-wrap: normal;
  word-break: keep-all
}