/* inspire */
.imageStyle {
  width: 250px;
  max-height: auto;
  margin: 4px;
  border-radius: 20px;
}

/* createIntro */
.createContainer {
  border-radius: 20px;
  color: lightGrey
}
.cameraVideo {
  width: auto;
  max-height: 200;
  margin-right: 50%;
  margin-left: auto;
}

.lightText {
  color: lightGrey
}

/* create */
.mainCard {
  max-width: 60%;
  border-radius: 20%;
}
.number {
  height: 20%;
}

/* buttons */
.btnPair {
  width: 50%;
  margin: 0px 10px;
}